/tarea 6/nbproject/private/
/tarea-6/nbproject/private/
/tarea-6/build/
/Medio_curso/nbproject/private/
/semana 9/nbproject/private/
/semana 9/build/
/semana 11/nbproject/private/
/semana 11/build/
/pruebas/nbproject/private/
/pruebas/build/
